<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Weedoo it{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>

            <li>
                <a href="/works">Works</a>
            </li>
        </ul>
      </nav>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
  </body>
</html>
